body {
    font-family: Arial,  sans-serif;
    background-color: rgb(223, 196, 236);
    margin: 0;
     color: white;
    text-align: center;
    padding: 30px;
}

header {
    background-color: #c49ad8;
    color: white;
    text-align: center;
    padding: 30px;
}

main {
    width: 80%;
    max-width: 800px;
    margin: 30px;
}

h1 {
    margin: 0;
}

h2 {
    color: #333;
}



p {
    font-size: 18px;
    line-height: 1.6;
}




button {
    background-color: darkgreen;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}




button:hover {
    background-color: #0056b3;
}




footer {
    text-align: center;
    padding: 20px;
    color: white;
}